.cart_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.cart_card-container {
  width: 75%;
  border: 2px;
  border-style: groove groove groove none;
  border-left: 2px solid rgb(23, 133, 242);
  align-items: center;
  padding: 1rem 2rem;
  margin: 1rem 0;
}

.cart_card-container {
  display: flex;
  justify-content: space-between;
}

.cart_card-image {
  width: 20%;
}
.cart_card-info {
  display: flex;
  flex-direction: column;
}

.cart_card-price {
  margin-top: 24px;
}

.delete_btn {
  padding: 0.5rem 1.5rem;
  background-color: orangered;
  border: none;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.delete_btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: orangered;
  border:1px solid orangered;
  scale: 1.1;
}

.cart_card-quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart_card-quantity_container {
  margin-top: 24px;
}

.plus_btn,
.minus_btn {
  width: 50px;
  height: 40px;
  cursor: pointer;
  background-color: orange;
  color: hsl(0, 0%, 0%);
  border:none;
}

.plus_btn:hover,
.minus_btn:hover {
  background-color: hsl(210, 87%, 52%);
  color: hsl(0, 0%, 100%);
  scale: 1.1;
}

.cart_qty {
  padding: 0 1rem;
}

/* scale is below 699px */

@media screen and (max-width: 699px) {
  .cart_card-container {
    /* width: 75%;
    border: 2px;
    border-style: groove groove groove none;
    border-left: 2px solid rgb(23, 133, 242);
    align-items: center;
    padding: 1rem 2rem;
    margin: 1rem 0; */
    display: flex;
    flex-direction: column;
  }
  .cart_card-image {
    width: 40%;
  }

  .delete_btn {
    /* padding: 0.5rem 1.5rem;
    background-color: orangered;
    border: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer; */
    margin-top: 1rem;
  }
}


